.catalogue-conteneur[data-mode="grille"],
.catalogue-conteneur[data-mode="liste"] {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(var(--taille), 1fr));
	gap: var(--spacing-broad);

	--taille: 35ch;

	@media screen and (min-width: 450px) {
		--taille: clamp(35ch, 1vw, 40ch);
	}
}

@media screen and (min-width: 900px) {
	.catalogue-conteneur[data-mode="liste"] {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-thin);
	}

}
