html {
	background-color: var(--clair);

	@media screen and (max-width: 768px) {
		font-size: 14px;
	}
}

main {
	position: relative;

	margin-top: var(--spacing-broad);

	margin-inline: auto;
	padding-inline: 4vw;

	@media screen and (min-width: 1440px) {
		max-width: 1440px;
	}
}

main > :is(section, .section) + section {
	margin-top: var(--spacing-broad);

	@media screen and (min-width: 1024px) {
		margin-top: var(--spacing-broadest);
	}
}

main:has(aside) {
	aside {
		margin-block: var(--spacing-thinner);
	}
	@media screen and (min-width: 1250px) {
		display: grid;
		grid-template-areas:
			"titre titre"
			"bouton bouton"
			"filtre contenu";
		grid-template-columns: 40ch auto;

		gap: var(--spacing-thin);

		h1 {
			grid-area: titre;
		}

		.filtre {
			grid-area: filtre;
		}

		.principal {
			grid-area: contenu;
			overflow: auto;
		}

		.bouton-conteneur {
			grid-area: bouton;
			position: relative;
		}
	}
}

.bouton-conteneur + main:has(.filtre) {
	margin-top: 0;
}

footer {
	margin-top: var(--spacing-broadest);
}

h1 {
	font-size: var(--font-mega);
}

h2 {
	font-size: var(--font-extra);
}

h3 {
	font-size: var(--font-taller);
}

h4 {
	font-size: var(--font-tall);
}

h5 {
	font-size: var(--font-medium);
}

p,
span,
input,
label {
	font-size: var(--font-current);
	line-height: 1.5;
}

input,
label{
	padding: var(--spacing-nano);
}
