.grille {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(35ch, 1fr));
	gap: var(--spacing-broad);
}

.grille--2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap:var(--spacing-broad);

	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}
}

.grille--2-largeGap {
	gap: calc(var(--spacing-broad) * 5);
}

.grille--top {
	align-items: start;
}
