/* Footer styles */
.pied-site {
	background-color: var(--primaire);
	color: var(--clair);
	padding: var(--spacing-thin);
}

.pied-site>div:first-child {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	@media (max-width: 767px) {
		flex-direction: column;
		gap: var(--spacing-thinner);
		align-items: center;
		padding: 0 var(--spacing-micro);

		margin-bottom: var(--spacing-thinner);
	}

}

.pied-site .media-conteneur {
	display: flex;
	height: 2em;
	flex-direction: row;
	gap: var(--spacing-thinnest);

	@media (max-width: 767px) {
		align-items: center;
	}

}