[data-bg="sombre--10"]{
	background-color: var(--sombre--10);
}

.boite-coin-arroundi{
	padding: var(--spacing-thinner);
	border-radius:var(--radius-sharp);
}

/*source: cours*/
.erreur{
	font-family: var(--font-sans-serif);

    display: inline-block;
    padding:5px;
    background-color: rgb(251, 187, 187);
    border-radius: 5px;
    border: red 1px solid;
    font-size: 0.9em;
    color:red;
}

main > .erreur {
	margin-top: 5vw;
    width: 100%;
}

.succes {
	display: inline-block;
    padding:5px;
    background-color: rgb(202, 251, 152);
    border-radius: 5px;
    border: green 1px solid;
    font-size: 0.9em;
    color:green;
}

main > .succes {
	margin-top: 5vw;
    width: 100%;
}

.paire {
	display: flex;
	gap: var(--spacing-thinnest);
	align-items: start;
	justify-content: space-between;
}

.invisible{
	display: none;
}