
:root {
	/*============================ */
	/* = COLORS */
	/*============================ */
		--primaire: rgb(3,26,105);
		--primaire--30: #818db5;
		--secondaire: rgba(247,176,44);
		--sombre:  rgba(20,22,19);
		--sombre--10: rgba(208,208,208, 0.85);
		--clair: rgb(254, 254, 242);

	/*============================ */
	/* = SPACING */
	/*============================ */
		--spacing-pico:      0.1rem;
		--spacing-nano:      0.3rem;		
		--spacing-nano-neg:  -0.3rem;
		--spacing-micro:     .5rem;
		/*--- */
		--spacing-thinnest:  1rem;
		--spacing-thinner:   1.5rem;
		--spacing-thin:      2rem;
		--spacing-broad:     4rem;
		--spacing-broader:   6rem;
		--spacing-broadest:  8rem;

	/*============================ */
	/* = DIMENSIONS */
	/*============================ */
		--largeur-logo: 150px;

	/*========================= */
	/* = FONT-FAMILY */
	/*========================= */
		--font-serif: 'Neto Serif', serif;
		--font-sans-serif: 'PT Sans', sans-serif;

	/*========================= */
	/* = FONT-SIZE */
	/*========================= */
        --font-mini:       0.64rem;
        --font-short:      0.8rem;
        --font-current:    1rem;
        --font-medium:       1.25rem;
        --font-tall:     1.563rem;
        --font-taller:    1.953rem;
        --font-extra:       2.441rem;
        --font-mega:      3.052rem;
        --font-giga:     3.815rem;

	/*============================ */
	/* = OPACITY */
	/*============================ */
		--transparent:           0;
		--almost-transparent:    0.1;
		--quasi-transparent:     0.2;
		--semi-transparent:      0.3;
		--partially-transparent: 0.4;
		--translucent:           0.5;
		--partially-opaque:      0.6;
		--semi-opaque:           0.7;
		--quasi-opaque:          0.8;
		--almost-opaque:         0.9;
		--opaque:                1;

	/*============================ */
	/* = BORDER SIZE */
	/*============================ */
		--border-slimmest:  1px;
		--border-slimmer:   2px;
		--border-slim:      3px;


	/*========================= */
	/* = RADIUS */
	/*========================= */
		--radius-sharpest:     2px;
		--radius-sharper:      3px;
		--radius-sharp:        5px;

	/*========================= */
	/* = DURATION */
	/*========================= */
		--duration-fastest:    80ms;
		--duration-faster: 	  200ms;
		--duration-fast: 	 300ms;
		--duration-medium: 	  500ms;
		--duration-slow: 	750ms;
		--duration-slower:     1000ms;
		--duration-slowest: 	10000ms;
}