.agrandir {
	position: relative;
}

.agrandir__curseur {
	position: absolute;
	border: 3px solid var(--primaire);
	border-radius: 50%;
	cursor: none;
	/*Set the size of the magnifier glass:*/
	width: 200px;
	height: 200px;
}
