.bouton-reset {
	background-color: transparent;
	border: none;
}

.bouton {
	font-weight: 550;

	display: block;
	padding-inline: var(--spacing-thinner);
	padding-block: var(--spacing-micro);
	border-radius: var(--radius-sharpest);
	border: var(--border-slimmer) solid transparent;

	transition-property: transform, border-color, background-color, border-radius;
	transition-duration: var(--duration-faster);
	transition-timing-function: ease-in-out;

	min-width: clamp(15ch, 2vw, 20ch);
	text-align: center;
}

.bouton:not(.nonClickable):hover {
	border-radius: 20px;
}

.bouton:active {
	transform: scale(0.95);
}

.bouton[data-couleur="primaire"] {
	background-color: var(--primaire);
	border-color: var(--primaire);
	color: var(--clair);
}

.bouton[data-couleur="primaire"]:hover {
	background-color: color-mix(in lch, var(--primaire) 60%, transparent 40%);
	border-color: color-mix(in lch, var(--primaire) 60%, transparent 40%);
	color: var(--clair);
}

.bouton[data-couleur="primaire-inverse"] {
	background-color: var(--clair);
	border-color: var(--primaire);
	color: var(--primaire);
}

.bouton[data-couleur="primaire"]:hover {
	background-color: color-mix(in lch, var(--primaire) 60%, transparent 40%);
	border-color: color-mix(in lch, var(--primaire) 60%, transparent 40%);
	color: var(--clair);
}


.bouton[data-couleur="secondaire"],
.bouton[data-couleur="sombre"][data-selected="true"] {
	background-color: var(--secondaire);
	border-color: var(--secondaire);
	color: var(--clair);
}

.bouton[data-couleur="secondaire"]:hover {
	background-color: color-mix(in lch, var(--secondaire) 50%, transparent 50%);
	border-color: color-mix(in lch, var(--secondaire) 50%, transparent 50%);
	color: var(--sombre);
}

.bouton[data-couleur="sombre"] {
	background-color: var(--clair);
	border-color: color-mix(in lch, var(--sombre) 75%, transparent 25%);
	color: color-mix(in lch, var(--sombre) 75%, transparent 25%);
}

.bouton.bouton-grand {
	display: flex;
	align-items: center;
	justify-content: center;

	font-family: var(--font-sans-serif);
	font-size: var(--font-medium);
	text-transform: uppercase;

	color: color-mix(in lch, var(--sombre) 80%, white 20%);

}

.bouton-icone{
	width: max-content;
	height: max-content;
}