.carte-lot {
	font-family: var(--font-sans-serif);
	color: var(--sombre);
	position: relative;

	& .carte-lot__image {
		display: block;
		min-width: var(--taille-minimale);
		max-width: var(--taille-maximale);
		aspect-ratio: 1/1;

		& > img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	@media screen and (min-width: 900px) {
		--taille-minimale: 206px;
		--taille-maximale: 206px;
	}

	transition-property: transform;
	transition-duration: var(--duration-faster);
	transition-timing-function: ease-in-out;
}

.carte-lot:active {
	transform: scale(0.98);
}

.carte-lot:hover .media-cadre {
	filter: sepia(0.6);
}

.carte-lot__enchere {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-thinnest);
}

.carte-lot__timbre {
	[data-render="anneeProd"] {
		margin-top: var(--spacing-nano);
	}
	.carte-lot__lien {
		margin-top: var(--spacing-thinner);
	}
}

.carte-lot__enchere > div:not(:last-child) {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-nano);
}

.carte-lot__enchere > div > p:first-child,
.carte-lot__enchere > div span {
	color: color-mix(in lch, var(--sombre) 70%, white 30%);
	font-size: var(--font-short);
}

.carte-lot__enchere [data-render="miseCourante"] {
	font-weight: 550;
	font-size: var(--font-medium);
}

.carte-lot .carte-lot__enchere [data-render="estimation"] {
	font-weight: 550;
}

.carte-lot__lien {
	display: inline-block;
	color: color-mix(in lch, var(--sombre) 70%, white 30%);
	text-decoration: underline;
}

.carte-lot__lien:hover {
	cursor: pointer;
}
