.filtre-recherche{
	display: flex;
	flex-wrap: wrap;
	gap: var(--spacing-micro);

	align-items: center;
	justify-content: space-between;

	& > div {
		display: flex;
		gap: var(--spacing-micro);
	}

	@media screen and (min-width:480px) {
		&[data-ecran="mobile"]{
			display: none;
		}

	}


	@media screen and (max-width:480px) {
		&[data-ecran="mobile"]{
			margin-inline: auto;
		}


		& label[data-ecran="mobile"]{
			display: none;
		}


	}
}