.formulaire {
	margin-top: var(--spacing-thin);

	display: flex;
	flex-direction: column;
	gap: var(--spacing-thinnest);

	font-family: var(--font-sans-serif);
}

.formulaire :is(label, select, option){
	font-size: var(--font-medium);
}

.formulaire h2 {
	font-family: var(--font-serif);
}

.formulaire div {
	display: grid;

	grid-template-areas:
		"etiquette champ"
		"vide  erreur";

	row-gap: var(--spacing-nano);

	grid-template-columns: 25ch 80ch;

	label{
		grid-area: etiquette;
	}

	:is(input, select) {
		grid-area: champ;
		padding: var(--spacing-nano);
	}

	.erreur {
		grid-area: erreur;
	};

}