/*src: https://www.w3schools.com/css/tryit.asp?filename=trycss_ex_pagination_active*/
.pagination {
	font-family: var(--font-sans-serif);

	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .pagination a {
	padding: 8px 16px;
	text-decoration: none;
	
	color: var(--primaire);
  }
  
  .pagination a.active {
	background-color: var(--primaire);
	border-radius: var(--border-sharpest);
	color: var(--clair);
  }

  .pagination a:hover {
	background-color: var(--primaire);
	border-radius: var(--border-sharpest);
	color: var(--clair);
  }

  /* src: https://css-tricks.com/useful-nth-child-recipies/ */
  @media screen and (max-width:768px) {

	.pagination a:nth-child(n+4):not([data-direction]) {
		display: none;
	}

  }